# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Build QnapPhotoApi.NET

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      DOTNET_NOLOGO: true      
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true # Avoid pre-populating the NuGet package cache
         
    steps:
    - name: 'Checkout Code'
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 # Required for MinVer to work properly
        
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.x'
          
    # Build Solution and Run Tests     
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build -c Release
      
    - name: Run Unit Tests
      run: dotnet test -c Release --no-build --verbosity normal

    - name: Copy Package to Root
      shell: pwsh
      run: Get-ChildItem -Path src\*\bin\Release\* -Recurse -Include *.nupkg | Copy-Item -Container:$false

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: NuGet Packages
        path: Ragware.*.nupkg
